<form method="post" action="/rapper/handle-all" class="mt-4">
    <a href="/me/trash-rappers">Thùng rác ({{countDeletedRapper}})</a>

    <div class="mt-4 d-flex">
        <div class="input-group-text">
            <input id="checkbox-select-all" type="checkbox">
        </div>
        <select class="custom-select" id="all-options" name="action" required>
            <option value="">Lựa chọn</option>
            <option value="delete">Xóa</option>
        </select>
        <button id="btn-handle-all" class="btn btn-primary" disabled>Thực hiện</button>
    </div>
    <table class="table table-hover mt-4">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">#</th>
                <th scope="col">STT</th>
                <th scope="col">ID
                    {{{sortable '_id' _sort}}}
                </th>
                <th scope="col">Rap name</th>
                <th scope="col">Tên thật
                    {{{sortable 'fullname' _sort}}}
                </th>
                <th scope="col">Ngày sinh
                     {{{sortable 'birth' _sort}}}
                </th>
                <th scope="col" colspan="2">Lựa chọn</th>
            </tr>
        </thead>
        <tbody>
            {{#each rappers}}
            <tr>
                <th><input type="checkbox" name="idRappers[]" value="{{this._id}}"></th>
                <th  class="font-weight-light">{{sum @index 1}}</th>
                <th  class="font-weight-light">{{this._id}}</th>
                <th  class="font-weight-light">{{this.rapname}}</th>
                <th  class="font-weight-light">{{this.fullname}}</th>
                <th  class="font-weight-light">{{formatDate this.birth}}</th>
                <th  class="font-weight-light"><a href="/rapper/{{this._id}}/edit">Sửa</a></th>
                <th  class="font-weight-light"><a href="" data-toggle="modal" data-target="#confirmModal" data-whatever="{{this._id}}">Xóa</a></th>
            </tr>
            {{/each}}
        </tbody>
    </table>

</form>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center">Thông báo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Bạn có chắc chắn muốn xóa rapper này ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
            <button type="button" id="soft-delete-btn" class="btn btn-success ">Xác nhận</button>
        </div>
        </div>
    </div>
</div>


<form id="form-delete" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        const softDeleteBtn = $('#soft-delete-btn')
        let idRapper
        const deleteForm = document.getElementById('form-delete')
        const checkboxSelectAll = $("#checkbox-select-all")
        const checkboxItem = $('input[type="checkbox"][name="idRappers[]"]')
        const handleAllBtn = $('#btn-handle-all')

        $('#confirmModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget) 
            idRapper = button.data('whatever') 
        })

        softDeleteBtn.click(function (event) {
            deleteForm.action = '/rapper/' + idRapper + '/delete?_method=DELETE'
            deleteForm.submit()
        }) 

        checkboxSelectAll.change(function(){
            let isChecked = $(this).is(':checked')
            checkboxItem.prop('checked', isChecked)
            renderHandleAllBtn()
        })

        checkboxItem.change(function(){
            let isChecked = $('input[type="checkbox"][name="idRappers[]"]:checked').length === checkboxItem.length
            checkboxSelectAll.prop('checked', isChecked)
            renderHandleAllBtn()
        })

        function renderHandleAllBtn(){
            if($('input[type="checkbox"][name="idRappers[]"]:checked').length > 0){
                handleAllBtn.prop('disabled', false)
            }else{
                handleAllBtn.prop('disabled', true)
            }
        }
    })
</script>